---
import ThemeToggle from "./ThemeToggle.astro";
import Hamburger from "./Hamburger.astro";
---
<nav class="navbar">
  <div class="container navbar-inner">
    <a href="#home" style="font-weight:800;color:inherit;text-decoration:none">Jiawei Wei</a>
    <Hamburger />
    <div class="nav nav-links">
      <a href="#about">About</a>
      <a href="#updates">Updates</a>
      <a href="#research">Research</a>
      <a href="#startup">Startup</a>
      <a href="#publications">Publications</a>
      <a href="#reviewer">Reviewer</a>
      <a href="#life">Life</a>
      <ThemeToggle />
    </div>
  </div>
</nav>

